parameters:
	ignoreErrors:
		- '/^Access to an undefined property duncan3dc\\Dom\\ElementInterface::\$nodeValue\.$/'
		- '/^Cannot call method .* on .*\\ElementInterface\|null\.$/'
		- '/^Cannot access property .* on .*\\ElementInterface\|null\.$/'

includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
